<div class="page-header">
  <h1 class="pull-left">BET
    <small><%= " id:#{bet.id}" %></small>
  </h1>
  <div class="pull-right header-button">
    <div class="btn-group">
      <button class="btn btn-primary">
        Actions
      </button>
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right">
        <% bet.next_state_events.each do |e| %>
            <li>
              <%= link_to_with_icon "icon-list", e.event.to_s.titleize, dashboard_update_path(bet, :e => e.event), :method => :put, :confirm => "Are you sure?", :remote => true %>
            </li>
        <% end %>

        <li>
          <div class="hr"></div>
        </li>
        <li>
          <%= link_to_with_icon "icon-edit", "Edit", edit_bet_path(bet) %>
        </li>
        <li>
          <%= link_to_with_icon "icon-repeat", "Duplicate", duplicate_bet_path(bet) %>
        </li>
        <li>
          <%= link_to_delete bet, :url => bet_path(bet), :remote => true %>
        </li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Bid Amount</th>
    <th>Amount of Bids</th>
    <th>Original Odds</th>
    <th>Final Odds</th>
    <th colspan="2">Current Status</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= number_to_currency bet.bid_amount %></td>
    <td><%= bet.bids.count %></td>
    <td><%= bet.original_odds %></td>
    <td><%= bet.final_odds %></td>
    <td>
            <span class="label label-<%= bet.state %>"><%= bet.state.titleize %>
                                </span>
    </td><td>
    <% bet.next_state_events.each do |e| %>
        <%= link_to e.event.to_s.titleize, dashboard_update_path(bet, :e => e.event), :class => "btn btn-#{e.event} btn-mini", :method => :put, :confirm => "Are you sure?", :remote => true %>
    <% end %>
  </td>
  </tr>
  </tbody>
</table>
